# dependencies
node_modules/

# env files
.env
.env.*
!.env.example

# next.js
.next/
out/

# build
dist/
build/

# misc
.DS_Store
*.pem
Thumbs.db

# debug
npm-debug.log*

# docker
postgres-data/

# python
__pycache__/
*.py[cod]
*.egg-info/
*.egg
.venv/
venv/
.pytest_cache/
